{% include 'header.html' %}
{% load static %}
{% block content %}
  <section class="blog-section">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <h1 class="coffee_taital">Our Blog</h1>
            </div>
         </div>
         <div class="blog-container">
            {% for i in blogs %}
            <div class="blog-box">
               {% if i.image %}
                  <img src="{{ i.image.url }}" alt="Blog Image" class="blog-img">
               {% endif %}
               <h2 class="title">{{ i.title }}</h2>
               <span class="blog-date">{{ i.date }}</span>
               <p class="description">{{ i.description }}</p>
               <div class="read_btn"><a href="{% url 'blog_read' i.id %}">Read More</a></div>
            </div>
            {% endfor %}
         </div>
      </div>
   </section>


   <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{% endblock %}
