{% include 'header.html' %}
{% load static %}
{% block content %}

<div class="coffee_section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="coffee_taital">OUR COFFEE OFFER</h1>
      </div>
    </div>
  </div>

  <!-- Swiper Slider -->
  <div class="swiper">
    <div class="swiper-wrapper">
      {% for i in data %}
      <div class="swiper-slide">
        <div class="card">
          <div class="image-content">
            <div class="card-image">
              <img src="{{ i.image.url }}" alt="{{ i.item_name }}" class="card-img">
            </div>
          </div>
          <div class="card-content">
            <h2 class="name">{{ i.item_name }}</h2>
            <p class="description">{{ i.description|truncatewords:20 }}</p>
            <h4 class="price">₹{{ i.price }}</h4>

            {% if user.is_authenticated %}
              <div class="read_bt"><a href="{% url 'add_to_cart' i.id %}">Add to cart</a></div>
            {% else %}
              <div class="read_bt"><a href="{% url 'login_page' %}">Add to cart</a></div>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <!-- Pagination -->
    <div class="swiper-pagination"></div>
  </div>
</div>


<!-- Scripts -->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/swiper-bundle.min.js' %}"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    new Swiper(".swiper", {
      loop: true,
      spaceBetween: 30,
      pagination: { el: ".swiper-pagination", clickable: true },
      breakpoints: {
        320: { slidesPerView: 1, spaceBetween: 10 },   // mobile
        768: { slidesPerView: 2, spaceBetween: 20 },   // tablet
        1024: { slidesPerView: 3, spaceBetween: 30 },  // desktop
      }
    });
  });
</script>

{% endblock %}
